.flights-wrapper{
    max-width: 1097px;
    margin: 76px auto;
}

.flights-wrapper__text{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

.flights__box{
    margin-top: 40px;
    background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
border-radius: 12px;
padding: 28px 56px 28px 28px;
}

.flights__box:not(:last-child){
    margin-bottom: 28px;
}

.flights-box__inside{
    display: flex;
    gap: 26px;
}

.about-flight__times{
    display: flex;
    gap: 46px;
    align-items: center;
}


.flights-tours b{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #112F53;
    border-bottom: 1px solid #112F53;
}

.flight-inspection{
    margin-top: 30px;
    display: flex;
    gap: 37px;
    align-items: center;
}

.flights-date{
    display: flex;
    gap: 17px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #112F53;
}

.flight-city{
    display: flex;
    gap: 11px;
}

.city{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #112F53;
}

.flight-plane{
    display: flex;
    gap: 10px;
    align-items: center;
}

.flight-plane__town{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #112F53;

}

.flights-hotel{
    display: flex;
    align-items: center;
    gap: 13px;
}

.first-flight{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}

.osh_city{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;

color: #474665;
}

.flight-times__right{
    display: flex;
    align-items: center;
}


.standart-flight{
    text-align: center;
}

.standart{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;

color: #112F53;
}

.flight-price{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #125D98;
    margin-left: 43px;
}

.people_icon{
    display: flex;
    align-items: center;
}

.other-people{
    margin-top: 40px;
    margin-left: 43px;
}

.many__place{
    margin-left: 13px;
}

.people_icon b{
    font-style: normal;
    font-weight: 500;
    font-size: 20.6742px;
    line-height: 25px;
    display: flex;
    align-items: center;
    
    color: #125D98;
}


.book{
    margin-top: 21px;
    padding: 10px 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    background: #125D98;
    border-radius: 4px;

}

.top-flights{
    display: flex;
    justify-content: space-between;
}

.flights-more{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #125D98;

}
